.idea
**/~*.xlsx
*/**/*.rst
*/**/*.log
*/**/*.pb
vivado/*/*.cache/*
vivado/*/*.runs/.jobs/*
vivado/*/*.runs/impl_1/.Xil/*
vivado/*/*.runs/impl_1/*.tcl
vivado/*/*.runs/impl_1/*.rpt
vivado/*/*.runs/impl_1/*.rpx
vivado/*/*.runs/impl_1/*.vdi
vivado/*/*.runs/impl_1/*.dcp
vivado/*/*.runs/impl_1/*.wdf
vivado/*/*.runs/impl_1/*.js
vivado/*/*.runs/impl_1/*.bat
vivado/*/*.runs/impl_1/*.sh
vivado/*/*.runs/impl_1/*.bat
vivado/*/*.runs/impl_1/*.jou
vivado/*/*.runs/impl_1/*.txt
vivado/*/*.runs/impl_1/*.xml

.venv/
__pycache__/


