.idea
**/~*.xlsx
*/**/*.rst
*/**/*.log
*/**/*.pb
vivado/*/*.cache/*
vivado/*/*.runs/.jobs/*
vivado/*/*.runs/impl_1/.Xil/*
vivado/*/*.runs/impl_1/*.tcl
vivado/*/*.runs/impl_1/*.rpt
vivado/*/*.runs/impl_1/*.rpx
vivado/*/*.runs/impl_1/*.vdi
vivado/*/*.runs/impl_1/*.dcp
vivado/*/*.runs/impl_1/*.wdf
vivado/*/*.runs/impl_1/*.js
vivado/*/*.runs/impl_1/*.bat
vivado/*/*.runs/impl_1/*.sh
vivado/*/*.runs/impl_1/*.bat
vivado/*/*.runs/impl_1/*.jou
vivado/*/*.runs/impl_1/*.txt
vivado/*/*.runs/impl_1/*.xml

vivado/*/*.ip_user_files/sim_scripts/main/*/*.do
vivado/*/*.ip_user_files/sim_scripts/main/*/*.bda
vivado/*/*.ip_user_files/sim_scripts/main/*/*.v
vivado/*/*.ip_user_files/sim_scripts/main/*/*.udo
vivado/*/*.ip_user_files/sim_scripts/main/*/*.tcl
vivado/*/*.ip_user_files/sim_scripts/main/*/*.opt
vivado/*/*.ip_user_files/sim_scripts/main/*/*.var
vivado/*/*.ip_user_files/sim_scripts/main/*/*.prj
vivado/*/*.ip_user_files/sim_scripts/main/*/*.ini
vivado/*/*.ip_user_files/sim_scripts/main/*/protoinst_files/*.protoinst


vivado/*/*.ip_user_files/bd/main/ip/*/sim/*.vhd
vivado/*/*.ip_user_files/bd/main/ip/*/sim/*.v
vivado/*/*.ip_user_files/bd/main/ip/*/*.xci
/vivado/*/*.ip_user_files/bd/main/sim/main.vhd
/vivado/*/*.ip_user_files/bd/main/sim/main.protoinst


vivado/*/*.runs/synth_1/*
vivado/**/README.txt
vivado/*/*.sim/*/synth/func/xsim/xsim.dir/*
vivado/*/*.sim/*/impl/func/xsim/xsim.dir/*
vivado/*/*.sim/*/behav/xsim/xsim.dir/*_behav/*
vivado/*/*.gen/*/bd/*/synth
vivado/*/*.gen/*/bd/*/sim
vivado/*/*.gen/*/bd/*/hw_handoff
vivado/Integration/Integration.cache/wt/project.wpc
vivado/Integration/Integration.cache/wt/xsim.wdf
vivado/Integration/Integration.gen/sources_1/bd
vivado/*/*.ip_user_files/sim_scripts/*/*/*.txt
vivado/*/*.ip_user_files/sim_scripts/*/*/main.sh
vivado/*/*.ip_user_files/sim_scripts/*/*/compile.do
vivado/*/*.gen/sources_1/bd/main_block/op/main_block_controller_0_0/**

vivado/*/*.sim/*/behav/xsim/*.bat
vivado/*/*.sim/*/behav/xsim/*.tcl
vivado/*/*.sim/*/behav/xsim/*.wdb
vivado/*/*.sim/*/behav/xsim/protoinst_files/*.protoinst
vivado/*/*.sim/*/behav/xsim/xsim.dir/xil_defaultlib/*.vdb

.venv/
__pycache__/


